body{
    background: #f4f4f4
}

.h1, h1 {
    font-size: 28px;
}


/* NAVBAR */

.navbar{
    min-height: 32px;
    margin-bottom: 0;
    border:0;
    border-radius: 0;
    background: #6274fe;
}

.navbar-brand{
    color:#ffffff!important;
    font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}


.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: rgb(67, 82, 199);
}


/* HEADER */

#header{
    background: #333333;
    color:#ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create{
    padding-top:20px;
}


/* BREADCRUMB */


.breadcrumb{
    background: #cccccc;
    color:#333333;
}

.breadcrumb a{
    color:#333333;
}

/* List Items */

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #6274fe;
    border-color: #337ab7;
}



/* Panel - Main */

.panel-default>.panel-heading {
    color: #fff;
    background-color: #6274fe;
    border-color: #777;
}

/* Progress Bar*/

.progress-bar{
    background: #6274fe;
    color:#ffffff;
}


.well h4{
    color:#333;
}


.dash-box{
    text-align: center;
}


